<% provide(:title, "About") %>

<h1>About</h1>
<p>
  This is the sample application for the 
  <a href="http://www.railstutorial.org">Rails Tutorial</a> and the 
  <a href="http://screencasts.railstutorial.org">Screencasts Series.</a>
</p>
  